<form class="lichsoma-css-editor-form">
    <div class="form-group">
        <label>{{localize "SPEAKERSELECTOR.Common.CSSCode"}}</label>
        <textarea name="css" rows="20" style="font-family: monospace;">{{css}}</textarea>
    </div>
    <div class="form-group" style="margin-top: 10px;">
        <button type="button" class="save-css">
            <i class="fas fa-save"></i> {{localize "SPEAKERSELECTOR.Common.Save"}}
        </button>
        <button type="button" class="cancel-css">
            <i class="fas fa-times"></i> {{localize "SPEAKERSELECTOR.Common.Cancel"}}
        </button>
    </div>
</form>

